<%= include('header') %>

<main role="main" class="container">
	<button type="button" class="btn btn-primary btn-lg btn-block">Generation manuelle de l'ensemble des graphiques</button>
	<button type="button" class="btn btn-primary btn-lg btn-block">Lancement manuel des envois de mails</button>
</main>

<%= include('footer') %>