<%= include('header') %>

    <main role="main" class="container">
    	<h2>Galerie Check Anywhere</h2>
      	<div class="card card-gallery">
		  <div class="card-header text-center">
		  	<ul class="nav nav-pills card-header-pills">
			  	<%for (server of list.Check){ %>
				    <li class="nav-item">
				    	<% if(server == list.Check[0]){ %>
				        	<a class="nav-link active" data-toggle="tab" href="#<%= server %>"><%= server %></a>
				        <% }else{ %>
				        	<a class="nav-link" data-toggle="tab" href="#<%= server %>"><%= server %></a>
				        <% } %>
				    </li>
			    <% } %>
			</ul>
		  </div>
		  <div class="tab-content card-body text-center">
		  <%for (server of list.Check){ %>
		  	<% if(server == list.Check[0]){ %>
		  	  <div id="<%= server %>" class="tab-pane active">
		  	<% }else{ %>
		  	  <div id="<%= server %>" class="tab-pane">
		  	<% } %>
			  	<% if(list.Check[server].length == 0){ %>
			  		<div>Aucun graphique pour <%= server %></div>
			  	<% } %>
			    <% for(img of list.Check[server]){ %>

			    	<img src="<%= img %>" />
			    <% } %>
			  </div>
		  <% } %>
		  </div>
		</div>

	  <br>
	  <h2>Galerie CIP Anywhere</h2>
      <div class="card card-gallery">
		  <div class="card-header text-center">
		  	<ul class="nav nav-pills card-header-pills">
			  	<%for (server of list.Cip){ %>
				    <li class="nav-item">
				    	<% if(server == list.Cip[0]){ %>
				        	<a class="nav-link active" data-toggle="tab" href="#<%= server %>"><%= server %></a>
				        <% }else{ %>
				        	<a class="nav-link" data-toggle="tab" href="#<%= server %>"><%= server %></a>
				        <% } %>
				    </li>
			    <% } %>
			</ul>
		  </div>
		  <div class="tab-content card-body text-center">
		  <%for (server of list.Cip){ %>
		  	<% if(server == list.Cip[0]){ %>
		  	  <div id="<%= server %>" class="tab-pane active">
		  	<% }else{ %>
		  	  <div id="<%= server %>" class="tab-pane">
		  	<% } %>
			  	<% if(list.Cip[server].length == 0){ %>
			  		<div>Aucun graphique pour <%= server %></div>
			  	<% } %>
			    <% for(img of list.Cip[server]){ %>

			    	<img src="<%= img %>" />
			    <% } %>
			  </div>
		  <% } %>
		  </div>
		</div>
    </main>

<%= include('footer') %>